* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
}
/* Header css start */
.header-container {
    height: 400px;
    text-align: center;
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
p {
    font-size: 14px;
}
.heading-cls {
    color: white;
}
.head-para {
    color:white;
    margin-bottom: 20px;
}
.button {
     background-image: linear-gradient(to right, rgb(218, 76, 99),rgb(240, 159, 125));
     color: white;
     padding: 10px 20px;
     border-radius: 10px;
     margin-top: 20px;
     text-decoration: none;
}
/* Header css end */

/*  donate-driscription css start */
.donate-driscription {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.donate-amount {
    display: flex;
    text-align: center;
    padding: 20px;
    justify-content: space-around;
    background-color: rgb(240, 234, 225);
    margin-bottom: 30px;
}
.amount-here {
    border: 1px solid coral;
    background-color: bisque;
    padding: 10px;
}
/*  donate-driscription css end */

/*  form-container css start */
.form-container {
    text-align: center;
}
 form input {
    border-bottom: 1px solid gray;
    width: 60%;
    text-align: center;
    border: none;
    margin-bottom: 20px;
    border-bottom: 1px solid gray;
  }
  /*  form-container css end */

  /* donate-plan-container css start */
   .donate-plan-container {
    display: flex;
    margin-top: 30px;
}
.donate-food {
    text-align: center;
    justify-content: space-between;
    padding: 20px;
    margin: 20px;
}
.donate-food p {
    margin-top: 10px;
}
#food-help {
    background-color: rgb(220, 234, 234);
}
#family-help {
    background-color: rgb(251, 226, 230);
}
#education-help {
    background-color: rgb(232, 219, 203);
}
/* donate-plan-containe css end */


 /* contribute -container css start */
.contribute-container {
    display: flex;
    margin: 20px;
}
.half-width {
    width: 50%;
    
}
.half-width p {
    padding: 20px;
    padding-left: 0;
}
.half-width img {
    width: 100%;
    height: 300px;
    padding: 20px;
}
.contribute-container #survive-id {
    padding-left: 20px;
}
 /* contribute -container css end */


  /*  update-container css start */
.update {
     width: 50%;
     margin: 0 auto;
     text-align: center;
     margin-bottom: 20px;
}
.email-subscribe {
    display: flex;
    align-items: center;
    justify-content: center;
}
.email-subscribe #email-btn {
     background-color: rgb(194, 173, 173);
     padding: 10px;
     border-right: none;
}
.email-subscribe #subscribe-btn {
    text-decoration: none;
    border: 2px solid rgb(173, 51, 51);
    border-left: none;
    background-color: coral;
    padding: 8px 10px;
}
 /*  update-container css end */

 /*   footer css start */
  footer {
    background-color: black;
    color: rgb(247, 90, 12);
    text-align: center;
    margin-top: 50px;
  }
  /*   footer css end*/